/* anton-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anton SC";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/anton-sc-v1-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("./assets/fonts/plus-jakarta-sans-v12-latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/plus-jakarta-sans-v12-latin-regular.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src:
    url("./assets/fonts/plus-jakarta-sans-v12-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/plus-jakarta-sans-v12-latin-500.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* plus-jakarta-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url("./assets/fonts/plus-jakarta-sans-v12-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/plus-jakarta-sans-v12-latin-600.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("./assets/fonts/plus-jakarta-sans-v12-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./assets/fonts/plus-jakarta-sans-v12-latin-700.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

:root {
  /* Colors */
  --neutral-01: #ffffff;
  --neutral-02: #e5eaec;
  --neutral-03: #5b5955;
  --neutral-04: #171206;
  --theme-01: #2b80f7;
  --theme-02: #febf03;
  --theme-03: #f02a2b;
  --line: #f2f7f9;
  --bg: #f2f7f9;
  --bg-02: #d9d9d9;
  --link: #0099ff;
  --black: #000000;

  /* Fonts */
  --fs-10: calc(7.72 / 16 * 1rem);
  --fs-12: calc(12 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);
  --fs-15: calc(15 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);
  --fs-28: calc(28 / 16 * 1rem);
  --fs-30: calc(30 / 16 * 1rem);
  --fs-40: calc(40 / 16 * 1rem);
  --fs-48: calc(48 / 16 * 1rem);
  --fs-60: calc(60 / 16 * 1rem);
  --fs-72: calc(72 / 16 * 1rem);

  --text-family: "Plus Jakarta Sans", "Segoe UI", Roboto, sans-serif;

  /* Sizes */
  --md-screen: calc(600 / 16 * 1rem);
  --lg-screen: calc(1000 / 16 * 1rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--text-family);
  font-size: var(--fs-16);
  line-height: 1.33333;
  padding-block-end: 100ch;
  background-color: var(--neutral-01);
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1 {
  font-size: clamp(2.375rem, calc(1.602rem + 3.864vw), 4.5rem);
}

h2 {
  font-size: clamp(1.75rem, calc(0.809rem + 4.706vw), 3.75rem);
}

h3 {
  font-size: clamp(1.938rem, calc(1.551rem + 1.932vw), 3rem);
}

h4 {
  font-size: clamp(1.75rem, calc(1.477rem + 1.364vw), 2.5rem);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.wrapper {
  width: min(calc(100% - 40px), calc(1400 / 16 * 1rem));
  margin-inline: auto;
}

.topnav {
  background-color: var(--black);
  backdrop-filter: blur(10px);
  z-index: 10;
  padding-block: 14px;
  opacity: 0.9;
  position: sticky;
  top: 0;

  .topnav__wrapper {
    display: flex;
    align-items: center;
  }

  .topnav__homelink {
    display: flex;
    color: var(--neutral-01);
    align-items: center;
    gap: 4px;
    cursor: pointer;

    > span {
      background-color: var(--neutral-01);
      width: 3px;
      height: 30px;
    }
  }

  .topnav__logo {
    @media (min-width: calc(600 / 16 * 1rem)) {
      width: 40px;
      height: 44px;
    }
  }

  .topnav__logo-text {
    display: grid;
  }

  .topnav__logo-text span {
    display: inline-block;

    &:nth-child(1) {
      font-size: var(--fs-30);
      font-family: "Anton SC";
      color: var(--theme-01);
    }

    &:nth-child(2) {
      font-size: var(--fs-15);
      margin-block-start: -2.5px;
    }

    @media (min-width: calc(600 / 16 * 1rem)) {
      &:nth-child(1) {
        font-size: var(--fs-28);
      }

      &:nth-child(2) {
        font-size: var(--fs-14);
      }
    }
  }

  .topnav__ham-menu {
    height: 31px;
    width: 24px;
    margin-left: auto;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    @media (width >= calc(1000 / 16 * 1rem)) {
      display: none;
    }
  }

  .topnav__ham-menu span {
    height: 2px;
    width: 24px;
    background-color: var(--neutral-01);
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease;

    &:nth-child(1) {
      top: 25%;
    }

    &:nth-child(3) {
      top: 75%;
    }
  }

  .topnav__ham-menu.active span {
    &:nth-child(1) {
      top: 50%;
      width: 60%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      top: 50%;
      width: 60%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.hero {
  background: var(--black);
  opacity: 0.88;
  background-image: url("./assets/images/hero_bg_image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .hero__wrapper {
    padding-block-start: calc(20px + 170px);
    padding-block-end: 80px;
    position: relative;
    z-index: 4;
  }

  .hero__title {
    color: var(--neutral-01);
    text-transform: capitalize;
    margin-block-end: 16px;
    max-width: 18ch;
  }

  .hero__description {
    color: var(--neutral-01);
    font-size: var(--fs-18);
    margin-block-end: 32px;
    max-width: 35ch;
  }

  .hero__button {
    max-width: 300px;
    padding: 4px;
    height: 61px;
    background-color: var(--theme-01);
    border-radius: 12px;
    position: relative;

    &:hover {
      cursor: pointer;

      .hero__button-inside {
        width: 100%;
      }

      .hero__button-text {
        color: var(--neutral-04);
      }
    }
  }

  .hero__button-inside {
    background-color: var(--neutral-01);
    border-radius: 8px;
    width: 52px;
    height: 100%;
    transition: width 400ms linear;
  }

  .hero__button-icon {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .hero__button-text {
    position: absolute;
    top: 19px;
    left: 63px;
    font-weight: 600;
    color: var(--neutral-01);
    font-size: clamp(0.875rem, calc(-1.125rem + 10vw), 1rem);
  }

  .hero__button-inside,
  .hero__button-text {
    transition: 400ms linear;
    transition-property: width, color;
  }

  .hero__linear--overlay {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 92%),
      hsl(0 0% 0% / 0%)
    );
    z-index: 1;
  }

  .hero__linear--blur-overlay {
    position: absolute;
    width: 70%;
    height: 100%;
    backdrop-filter: blur(6px);
    mask-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 1),
      rgb(0, 0, 0, 0.7) 50%,
      rgb(0, 0, 0, 0.5) 15%,
      rgb(0, 0, 0, 0) 100%
    );
    z-index: 2;
  }
}

.offer {
  color: var(--neutral-01);

  .offer__wrapper {
    padding-block: 36px;
  }

  .offer__bg {
    display: grid;
    background-color: var(--theme-01);
    padding: 28px 16px;
    border-radius: 8px;
    justify-content: space-around;

    grid-template-columns: 1fr;
    gap: 48px;
  }

  .offer__item {
    display: grid;
    gap: 12px;
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  .offer__logo-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--neutral-01);
    display: grid;
    place-items: center;
  }

  .offer__logo {
    color: var(--theme-02);
    width: 30px;
    height: 30px;
  }

  .offer__description-title {
    font-size: var(--fs-24);
    margin-block-end: 3px;
    font-weight: 600;
  }

  .offer__description-content {
    font-size: var(--fs-20);
    max-width: 15ch;
  }

  @media (min-width: 600px) {
    .offer__bg {
      grid-template-columns: repeat(2, 1fr);
    }

    .offer__description-title {
      font-size: var(--fs-18);
    }

    .offer__description-content {
      font-size: var(--fs-14);
    }
  }

  @media (min-width: 1000px) {
    .offer__bg {
      grid-template-columns: repeat(4, 1fr);
    }

    .offer__description-title {
      font-size: var(--fs-16);
    }

    .offer__description-content {
      font-size: var(--fs-12);
    }
  }
}

.category {
  background-color: var(--line);

  .category__wrapper {
    padding-block: 48px;
  }

  .category__heading {
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 24px;
  }

  .category__title {
    display: inline-block;
    position: relative;
    font-weight: 700;
    color: var(--neutral-04);
  }

  .category__description {
    color: var(--neutral-03);
    font-size: var(--fs-16);
    font-weight: 500;
    max-width: 30ch;
    margin-block-end: 40px;
  }

  .category__grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .category__card {
    width: 90%;
    aspect-ratio: 288 / 382;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  .category__card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .category__card-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: linear-gradient(
      rgba(0, 35, 111, 0.1),
      rgba(0, 35, 111, 0.8)
    );
  }

  .category__card-name {
    position: absolute;
    z-index: 2;
    bottom: 56px;
    left: 24px;
    font-size: var(--fs-20);
    font-weight: 600;
    color: var(--neutral-01);
    max-width: 10ch;
  }

  .category__card-sub {
    position: absolute;
    z-index: 2;
    left: 24px;
    bottom: 22px;
    color: var(--neutral-01);
    font-size: var(--fs-28);
  }

  @media (min-width: calc(600 / 16 * 1rem)) {
    .category__description {
      font-size: var(--fs-18);
      margin-block-end: 49px;
    }

    .category__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: calc(1024 / 16 * 1rem)) {
    .category__description {
      margin-block-end: 72px;
    }

    .category__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.trust {
  background-color: var(--line);

  .trust__wrapper {
    padding-block: 48px;
    display: grid;
    grid-template-columns: 1fr;
    padding-inline-start: 32px;
  }

  .trust__description {
    align-self: center;
    display: grid;
    gap: 5px;

    > span {
      display: block;
      text-transform: uppercase;
      color: var(--theme-01);
      font-weight: 700;
      margin-block-start: 5px;
    }

    > h4 {
      max-width: 15ch;
    }

    > p {
      font-size: var(--fs-14);
      max-width: 30ch;
      color: var(--neutral-03);
      font-weight: 500;
    }
  }

  .trust__items {
    display: flex;
    gap: 4px;
  }

  .trust__item {
    display: grid;
    justify-items: center;
    gap: 8px;
    text-align: center;
    padding-block: 18px;
    width: 250px;
    max-width: 300px;
    background-color: var(--neutral-01);
    border-radius: 16px;
  }

  .trust__item-logo-container {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: grid;
    place-items: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: var(--theme-01);
      opacity: 0.1;
    }
  }

  .trust__item-logo {
    width: 40px;
    height: 40px;
    color: var(--theme-01);
  }

  .trust__item-title {
    color: var(--black);
    font-size: var(--fs-18);
    font-weight: 600;
    max-width: 13ch;
  }

  .trust__item-description {
    max-width: 18ch;
    font-size: var(--fs-14);
    color: var(--neutral-04);
    opacity: 0.9;
    font-weight: 500;
  }

  @media (min-width: 1024px) {
    .trust__wrapper {
      grid-template-columns: 1fr 1.5fr;
    }
  }
}
